<main role="main">
  <section class="contact pt-4 pb-5">
    <div class="container">
      <h3>Wellcome to my BlogIT</h3>
      <address>
        <strong>Vladimir, Inc.</strong><br>
        103 Heroev Dnepra Streat<br>
        Kiev, Ukraive<br>
        <abbr title="Phone">P:</abbr> (096) 131-91-91
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">vladimir.last@gmail.com</a>
      </address>
      <div id="map" style="height:300px;"></div>
    </div>
  </section>
</main>